img {
    opacity: 0.7;
  }
  h5,
  p {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  .temperature,
  .weather {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
  }
  .card-body {
    background: radial-gradient(
      592px at 48.2% 50%,
      rgba(255, 255, 249, 0.6) 0%,
      rgb(160, 199, 254) 74.6%
    );
  }
  